<h1>コンタクト一覧</h1>

<table>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>内容</th>
    </tr>

<% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.Name %></td>
      <td><%= contact.Email%></td>
      <td><%= contact.Content%></td>
      <td><%= link_to '詳細確認する', contact_path(contact.id) %></td>
      <td><%= link_to '内容を変更する', edit_contact_path(contact.id),data: { confirm: '本当に編集していいですか？' }%></td>
      <td><%= link_to '内容を削除する', contact_path(contact.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }  %>
    </tr>
<% end %>
</table>

<%= link_to '新規入力画面に戻る',new_contact_path %>